DB_HOST=db
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASS=postgres

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

REDIS_HOST=redis
REDIS_PORT=6379

MANAGER_SECRET=your_random_sequence
JWT_SECRET=your_random_sequence

SMTP_PASSWORD="your_stmp_pass"
SMTP_USER="XXXXXXXXX@gmail.com"